* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 25px 0;
    background-color: black;
    color: aliceblue;
}

.bg {
    background-color: aliceblue;
    flex: auto;
    display: flex;
}

.calculadora {
    height: 60vh;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 25px;
    padding: 25px 20vw;

}

#resultados {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: xx-large;
    text-align: end;
    flex: 0 1 auto;
    padding: 25px;
    border: 5px solid;
}

.input {
    display: flex;
    flex: 0 1 auto;
    gap: 25px;
    justify-content: center;
    border: 5px solid;
    padding: 15px;
}

button {
    padding: 25px;
}

footer {
    background-color: black;
    color: white;
    font-size: xx-large;
    text-align: center;
}